<body style="background-color: #F0F0F0;">
<h1 class="login"> ShoCal </h1>
<div class="login">
	<% if @error %>
		<p style='color: red;'>incorrect email/password</p>
	<% end %>
	<form action="/" method="POST" style="display: inline;">
		<p>email</p>
		<input name="email"><br />
		<p>password</p>
		<input name="password" type="password"><br />
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<button id="sign-in">log in</button>
	</form>
	<form action="/signup" method="GET" style="display: inline;">
		<button id="create-account">create account</button>
	</form>
	<br /><br />
</div>
</body>