<% if @error %>
	<p style='color: red;'>Incorrect email/password</p>
<% end %>

<h1> Log In </h1>
<form action="/login" method="POST" style="display: inline;">
	Email: <input name="email"><br />
	Password: <input name="password"><br />
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button id="sign-in">Log In</button>
</form>
<form action="/signup" method="GET" style="display: inline;">
	<button id="create-account">Create Account</button>
</form>
<br /><br />
<form action="/login" method="DELETE">
	<button id="log-out">Log Out</button>
</form>