<body style="background-color: #F0F0F0;">
<h1 class="signup">ShoCal</h1>
<div class="signup">
	<form action="/users" method="POST" style="display: inline;">
		<p>username</p>
		<input name="name"><br />
		<p>email</p>
		<input name="email"><br />
		<p>zipcode</p>
		<input name="zipcode"><br />
		<p>password</p>
		<input name="password"><br />
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<button id="sign-in">submit</button>
	</form>
</div>
<p style="margin-top: 2%;"><a href="/">back to login page</a></p>
</body>
